
trained_vectors/trained_vectors/vectors-1800-ngram.txt
trained_vectors/trained_vectors/vectors-1801-ngram.txt
trained_vectors/trained_vectors/vectors-1802-ngram.txt
trained_vectors/trained_vectors/vectors-1803-ngram.txt
trained_vectors/trained_vectors/vectors-1804-ngram.txt
trained_vectors/trained_vectors/vectors-1805-ngram.txt
trained_vectors/trained_vectors/vectors-1806-ngram.txt
trained_vectors/trained_vectors/vectors-1807-ngram.txt
trained_vectors/trained_vectors/vectors-1808-ngram.txt
trained_vectors/trained_vectors/vectors-1809-ngram.txt
trained_vectors/trained_vectors/vectors-1810-ngram.txt
trained_vectors/trained_vectors/vectors-1811-ngram.txt
trained_vectors/trained_vectors/vectors-1812-ngram.txt
trained_vectors/trained_vectors/vectors-1813-ngram.txt
trained_vectors/trained_vectors/vectors-1814-ngram.txt
trained_vectors/trained_vectors/vectors-1815-ngram.txt
trained_vectors/trained_vectors/vectors-1816-ngram.txt
trained_vectors/trained_vectors/vectors-1817-ngram.txt
trained_vectors/trained_vectors/vectors-1818-ngram.txt
trained_vectors/trained_vectors/vectors-1819-ngram.txt
trained_vectors/trained_vectors/vectors-1820-ngram.txt
trained_vectors/trained_vectors/vectors-1821-ngram.txt
trained_vectors/trained_vectors/vectors-1822-ngram.txt
trained_vectors/trained_vectors/vectors-1823-ngram.txt
trained_vectors/trained_vectors/vectors-1824-ngram.txt
trained_vectors/trained_vectors/vectors-1825-ngram.txt
trained_vectors/trained_vectors/vectors-1826-ngram.txt
trained_vectors/trained_vectors/vectors-1827-ngram.txt
trained_vectors/trained_vectors/vectors-1828-ngram.txt
trained_vectors/trained_vectors/vectors-1829-ngram.txt
trained_vectors/trained_vectors/vectors-1830-ngram.txt
trained_vectors/trained_vectors/vectors-1831-ngram.txt
trained_vectors/trained_vectors/vectors-1832-ngram.txt
trained_vectors/trained_vectors/vectors-1833-ngram.txt
trained_vectors/trained_vectors/vectors-1834-ngram.txt
trained_vectors/trained_vectors/vectors-1835-ngram.txt
trained_vectors/trained_vectors/vectors-1836-ngram.txt
trained_vectors/trained_vectors/vectors-1837-ngram.txt
trained_vectors/trained_vectors/vectors-1838-ngram.txt
trained_vectors/trained_vectors/vectors-1839-ngram.txt
trained_vectors/trained_vectors/vectors-1840-ngram.txt
trained_vectors/trained_vectors/vectors-1841-ngram.txt
trained_vectors/trained_vectors/vectors-1842-ngram.txt
trained_vectors/trained_vectors/vectors-1843-ngram.txt
trained_vectors/trained_vectors/vectors-1844-ngram.txt
trained_vectors/trained_vectors/vectors-1845-ngram.txt
trained_vectors/trained_vectors/vectors-1846-ngram.txt
trained_vectors/trained_vectors/vectors-1847-ngram.txt
trained_vectors/trained_vectors/vectors-1848-ngram.txt
trained_vectors/trained_vectors/vectors-1849-ngram.txt
trained_vectors/trained_vectors/vectors-1850-ngram.txt
trained_vectors/trained_vectors/vectors-1851-ngram.txt
trained_vectors/trained_vectors/vectors-1852-ngram.txt
trained_vectors/trained_vectors/vectors-1853-ngram.txt
trained_vectors/trained_vectors/vectors-1854-ngram.txt
trained_vectors/trained_vectors/vectors-1855-ngram.txt
trained_vectors/trained_vectors/vectors-1856-ngram.txt
trained_vectors/trained_vectors/vectors-1857-ngram.txt
trained_vectors/trained_vectors/vectors-1858-ngram.txt
trained_vectors/trained_vectors/vectors-1859-ngram.txt
trained_vectors/trained_vectors/vectors-1860-ngram.txt
trained_vectors/trained_vectors/vectors-1861-ngram.txt
trained_vectors/trained_vectors/vectors-1862-ngram.txt
trained_vectors/trained_vectors/vectors-1863-ngram.txt
trained_vectors/trained_vectors/vectors-1864-ngram.txt
trained_vectors/trained_vectors/vectors-1865-ngram.txt
trained_vectors/trained_vectors/vectors-1866-ngram.txt
trained_vectors/trained_vectors/vectors-1867-ngram.txt
trained_vectors/trained_vectors/vectors-1868-ngram.txt
trained_vectors/trained_vectors/vectors-1869-ngram.txt
trained_vectors/trained_vectors/vectors-1870-ngram.txt
trained_vectors/trained_vectors/vectors-1871-ngram.txt
trained_vectors/trained_vectors/vectors-1872-ngram.txt
trained_vectors/trained_vectors/vectors-1873-ngram.txt
trained_vectors/trained_vectors/vectors-1874-ngram.txt
trained_vectors/trained_vectors/vectors-1875-ngram.txt
trained_vectors/trained_vectors/vectors-1876-ngram.txt
trained_vectors/trained_vectors/vectors-1877-ngram.txt
trained_vectors/trained_vectors/vectors-1878-ngram.txt
trained_vectors/trained_vectors/vectors-1879-ngram.txt
trained_vectors/trained_vectors/vectors-1880-ngram.txt
trained_vectors/trained_vectors/vectors-1881-ngram.txt
trained_vectors/trained_vectors/vectors-1882-ngram.txt
trained_vectors/trained_vectors/vectors-1883-ngram.txt
trained_vectors/trained_vectors/vectors-1884-ngram.txt
trained_vectors/trained_vectors/vectors-1885-ngram.txt
trained_vectors/trained_vectors/vectors-1886-ngram.txt
trained_vectors/trained_vectors/vectors-1887-ngram.txt
trained_vectors/trained_vectors/vectors-1888-ngram.txt
trained_vectors/trained_vectors/vectors-1889-ngram.txt
trained_vectors/trained_vectors/vectors-1890-ngram.txt
trained_vectors/trained_vectors/vectors-1891-ngram.txt
trained_vectors/trained_vectors/vectors-1892-ngram.txt
trained_vectors/trained_vectors/vectors-1893-ngram.txt
trained_vectors/trained_vectors/vectors-1894-ngram.txt
trained_vectors/trained_vectors/vectors-1895-ngram.txt
trained_vectors/trained_vectors/vectors-1896-ngram.txt
trained_vectors/trained_vectors/vectors-1897-ngram.txt
trained_vectors/trained_vectors/vectors-1898-ngram.txt
trained_vectors/trained_vectors/vectors-1899-ngram.txt
trained_vectors/trained_vectors/vectors-1900-ngram.txt
trained_vectors/trained_vectors/vectors-1901-ngram.txt
trained_vectors/trained_vectors/vectors-1902-ngram.txt
trained_vectors/trained_vectors/vectors-1903-ngram.txt
trained_vectors/trained_vectors/vectors-1904-ngram.txt
trained_vectors/trained_vectors/vectors-1905-ngram.txt
trained_vectors/trained_vectors/vectors-1906-ngram.txt
trained_vectors/trained_vectors/vectors-1907-ngram.txt
trained_vectors/trained_vectors/vectors-1908-ngram.txt
trained_vectors/trained_vectors/vectors-1909-ngram.txt
trained_vectors/trained_vectors/vectors-1910-ngram.txt
trained_vectors/trained_vectors/vectors-1911-ngram.txt
trained_vectors/trained_vectors/vectors-1912-ngram.txt
trained_vectors/trained_vectors/vectors-1913-ngram.txt
trained_vectors/trained_vectors/vectors-1914-ngram.txt
trained_vectors/trained_vectors/vectors-1915-ngram.txt
trained_vectors/trained_vectors/vectors-1916-ngram.txt
trained_vectors/trained_vectors/vectors-1917-ngram.txt
trained_vectors/trained_vectors/vectors-1918-ngram.txt
trained_vectors/trained_vectors/vectors-1919-ngram.txt
trained_vectors/trained_vectors/vectors-1920-ngram.txt
trained_vectors/trained_vectors/vectors-1921-ngram.txt
trained_vectors/trained_vectors/vectors-1922-ngram.txt
trained_vectors/trained_vectors/vectors-1923-ngram.txt
trained_vectors/trained_vectors/vectors-1924-ngram.txt
trained_vectors/trained_vectors/vectors-1925-ngram.txt
trained_vectors/trained_vectors/vectors-1926-ngram.txt
trained_vectors/trained_vectors/vectors-1927-ngram.txt
trained_vectors/trained_vectors/vectors-1928-ngram.txt
trained_vectors/trained_vectors/vectors-1929-ngram.txt
trained_vectors/trained_vectors/vectors-1930-ngram.txt
trained_vectors/trained_vectors/vectors-1931-ngram.txt
trained_vectors/trained_vectors/vectors-1932-ngram.txt
trained_vectors/trained_vectors/vectors-1933-ngram.txt
trained_vectors/trained_vectors/vectors-1934-ngram.txt
trained_vectors/trained_vectors/vectors-1935-ngram.txt
trained_vectors/trained_vectors/vectors-1936-ngram.txt
trained_vectors/trained_vectors/vectors-1937-ngram.txt
trained_vectors/trained_vectors/vectors-1938-ngram.txt
trained_vectors/trained_vectors/vectors-1939-ngram.txt
trained_vectors/trained_vectors/vectors-1940-ngram.txt
trained_vectors/trained_vectors/vectors-1941-ngram.txt
trained_vectors/trained_vectors/vectors-1942-ngram.txt
trained_vectors/trained_vectors/vectors-1943-ngram.txt
trained_vectors/trained_vectors/vectors-1944-ngram.txt
trained_vectors/trained_vectors/vectors-1945-ngram.txt
trained_vectors/trained_vectors/vectors-1946-ngram.txt
trained_vectors/trained_vectors/vectors-1947-ngram.txt
trained_vectors/trained_vectors/vectors-1948-ngram.txt
trained_vectors/trained_vectors/vectors-1949-ngram.txt
trained_vectors/trained_vectors/vectors-1950-ngram.txt
trained_vectors/trained_vectors/vectors-1951-ngram.txt
trained_vectors/trained_vectors/vectors-1952-ngram.txt
trained_vectors/trained_vectors/vectors-1953-ngram.txt
trained_vectors/trained_vectors/vectors-1954-ngram.txt
trained_vectors/trained_vectors/vectors-1955-ngram.txt
trained_vectors/trained_vectors/vectors-1956-ngram.txt
trained_vectors/trained_vectors/vectors-1957-ngram.txt
trained_vectors/trained_vectors/vectors-1958-ngram.txt
trained_vectors/trained_vectors/vectors-1959-ngram.txt
trained_vectors/trained_vectors/vectors-1960-ngram.txt
trained_vectors/trained_vectors/vectors-1961-ngram.txt
trained_vectors/trained_vectors/vectors-1962-ngram.txt
trained_vectors/trained_vectors/vectors-1963-ngram.txt
trained_vectors/trained_vectors/vectors-1964-ngram.txt
trained_vectors/trained_vectors/vectors-1965-ngram.txt
trained_vectors/trained_vectors/vectors-1966-ngram.txt
trained_vectors/trained_vectors/vectors-1967-ngram.txt
trained_vectors/trained_vectors/vectors-1968-ngram.txt
trained_vectors/trained_vectors/vectors-1969-ngram.txt
trained_vectors/trained_vectors/vectors-1970-ngram.txt
trained_vectors/trained_vectors/vectors-1971-ngram.txt
trained_vectors/trained_vectors/vectors-1972-ngram.txt
trained_vectors/trained_vectors/vectors-1973-ngram.txt
trained_vectors/trained_vectors/vectors-1974-ngram.txt
trained_vectors/trained_vectors/vectors-1975-ngram.txt
trained_vectors/trained_vectors/vectors-1976-ngram.txt
trained_vectors/trained_vectors/vectors-1977-ngram.txt
trained_vectors/trained_vectors/vectors-1978-ngram.txt
trained_vectors/trained_vectors/vectors-1979-ngram.txt
trained_vectors/trained_vectors/vectors-1980-ngram.txt
trained_vectors/trained_vectors/vectors-1981-ngram.txt
trained_vectors/trained_vectors/vectors-1982-ngram.txt
trained_vectors/trained_vectors/vectors-1983-ngram.txt
trained_vectors/trained_vectors/vectors-1984-ngram.txt
trained_vectors/trained_vectors/vectors-1985-ngram.txt
trained_vectors/trained_vectors/vectors-1986-ngram.txt
trained_vectors/trained_vectors/vectors-1987-ngram.txt
trained_vectors/trained_vectors/vectors-1988-ngram.txt
trained_vectors/trained_vectors/vectors-1989-ngram.txt
trained_vectors/trained_vectors/vectors-1990-ngram.txt
trained_vectors/trained_vectors/vectors-1991-ngram.txt
trained_vectors/trained_vectors/vectors-1992-ngram.txt
trained_vectors/trained_vectors/vectors-1993-ngram.txt
trained_vectors/trained_vectors/vectors-1994-ngram.txt
trained_vectors/trained_vectors/vectors-1995-ngram.txt
trained_vectors/trained_vectors/vectors-1996-ngram.txt
trained_vectors/trained_vectors/vectors-1997-ngram.txt
trained_vectors/trained_vectors/vectors-1998-ngram.txt
trained_vectors/trained_vectors/vectors-1999-ngram.txt
trained_vectors/trained_vectors/vectors-2000-ngram.txt
.ipynb_checkpoints/Gz_extractor-checkpoint.ipynb
.ipynb_checkpoints/Ngram_partitioner_by_decade-checkpoint.ipynb
.ipynb_checkpoints/pull_data-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Word2vec modelling-checkpoint.ipynb
.ipynb_checkpoints/word2vec_colab-checkpoint.ipynb
data/usa_00001.dat.gz
data/usa_00002.dat.gz
data/us_census/usa_00002.dat
data/us_census/us_census.csv
data/gbcs_stata/7616_file_information.rtf
data/gbcs_stata/mrdoc/allissue/gbcs_cleaned_eul_ukda_data_dictionary.rtf
data/gbcs_stata/mrdoc/allissue/gfk_cleaned_eul_ukda_data_dictionary.rtf
data/gbcs_stata/mrdoc/excel/7616_gbcs_codebook_eul.xlsx
data/gbcs_stata/mrdoc/pdf/7616_methodology_and_technical_notes.pdf
data/gbcs_stata/mrdoc/pdf/7616_questionnaire.pdf
data/gbcs_stata/mrdoc/pdf/7616_screenshots.pdf
data/gbcs_stata/mrdoc/UKDA/UKDA_Study_7616_Information.htm
data/gbcs_stata/read7616.htm
data/gbcs_stata/stata11/gbcs_cleaned_eul.dta
data/gbcs_stata/stata11/gfk_cleaned_eul.dta
data/GSS_sas/2021 XSEC R1 Methodological Primer.pdf
data/GSS_sas/formats.sas7bcat
data/GSS_sas/GSS 2021 Codebook R1b.pdf
data/GSS_sas/gss7221_r1b.sas7bdat
data/GSS_sas/ReadMe.txt
data/GSS_sas/Release Notes 7221.pdf
data/GSS_stata/2021 XSEC R1 Methodological Primer.pdf
data/GSS_stata/GSS 2021 Codebook R1b.pdf
data/GSS_stata/gss7221_r1b.dta
data/GSS_stata/ReadMe.txt
data/GSS_stata/Release Notes 7221.pdf
Revamp after Sara.docx
